.board-modal {
  width: 30rem;

  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.board-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}

.board-subtitle {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 500;
  color: #261f16;
}

.board-input {
  width: 100%;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 300;
}

.theme-button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.theme-button-1 {
  background-color: #ed7138;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.theme-button-1-active {
  background-color: #ed7138;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid black;
}

.theme-button-2 {
  background-color: #a968c1;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.theme-button-2-active {
  background-color: #a968c1;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.theme-button-3 {
  background-color: #3f5fe6;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.theme-button-3-active {
  background-color: #3f5fe6;
  width: 15%;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  margin-right: 1rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.board-button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}

.create-board-btn {
  cursor: pointer;
  background-color: #3f5fe6;
  border: 1px solid rgba(27, 31, 35, 0.5);
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
}

.cancel-board-btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.5);
  border-radius: 0.25rem;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}
