.dashboard-page {
  display: flex;
  min-height: 100vh;
  background-color: #f7f7f8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.side-nav {
  width: 16rem;
  background-color: #f7f7f8;
  height: 100vh;
  position: fixed;
}

.side-nav-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.side-nav-title {
  font-size: 0.9rem;
  margin-left: 0.75rem;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16rem);
  margin-left: 16.1rem;
  height: 100%;
  background-color: #f7f7f8;
}

.divider {
  height: 0.5rem;
  background-color: #f7f7f8;
}

.whiteboard {
  min-height: calc(100vh - 0.5rem);
  background-color: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-top-left-radius: 1rem;
  height: 100%;
  display: flex;
  justify-content: end;
}

.board-grid {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 0rem 3rem;
  width: 100%;
}

.grid-header {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 1rem;
}

.board-listings {
  display: flex;
  flex-wrap: wrap;
}

.board-item {
  width: 13rem;
  height: 9rem;
  background-color: #f1f2f4;
  margin: 2rem;
  margin-left: 0rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-item-text {
  font-size: 0.9rem;
  color: #172b4d;
}

.add-board-button {
  width: 13rem;
  height: 9rem;
  background-color: #f1f2f4;
  margin: 2rem;
  margin-left: 0rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-button-text {
  font-size: 0.9rem;
  color: #172b4d;
  margin-left: 0.25rem;
}

.add-board-button:hover {
  background-color: #dadadf;
  transition: 0.3s;
}

.profile-pic {
  width: 2rem;
}

@media only screen and (min-width: 993px) {
  .dahsboard-page {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .dashboard-page {
    font-size: 110%;
  }
}
