#root {
  font-family: Inter, sans-serif;
}

html,body, * {
  margin: 0;
  padding 0;
  box-sizing: border-box;

}

#background {
  height: 100vh;
  background-color: #fafbfc;
}


.homeNav {
  background-color: white;
  display: flex;
  align-items: center;
  height: 4.5rem;
}

.navAdjust {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.title {
  color: #040303;
  font-weight: 700;
}


.title-2 {
  color:#5b45ff;
  font-weight: 700;
}

#titleWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;

}

#buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#foreground {
  background-color: white;
  height: calc(100% - 4.5rem);
  display: flex;

}

.center-text {
  position: absolute;
  top: 40%;
  left: 45%;
  font-weight: 500;
  text-align: center;
}


.mainTextWrapper {
  width: 45%;
  background-image: repeating-linear-gradient(297deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(59deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(0deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
  display: flex;
  align-items: center;
  justify-content: center;
}

.subTextWrapper {
  width: 55%;
  background-image: repeating-linear-gradient(297deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(59deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(0deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main-title {
  margin-bottom: 2rem;
  text-align: center;
}

.sub-title {
  font-weight: 400;
  width: 60%;
  text-align: center;
}