#root {
  font-family: Inter, sans-serif;
  width: 100%;

}

html,body, * {
  margin: 0;
  padding 0;
  box-sizing: border-box;

}

.homeNav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navAdjust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-top: 1rem;
}

#background {
  height: 100vh;
  background-color: white;
}

#wrapper {
  display: flex;
  justify-content: center;
  height: 90%;
  margin-top: 2rem;
}

.signup-button {
  background-color: #000;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 2rem;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;

}

.login-button {
  color: #000;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border: none;
  background-color: #f8f8f7;
  border-radius: 0.8rem;
  margin-right: 0.25rem;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}

.title {
  color: #040303;
  font-weight: 700;
  font-size: 1.6rem;
}


.title-2 {
  font-size: 1.3rem;
  color:#6c63ff  ;
  font-weight: 600;
}

#titleWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;

}

#buttonWrapper {
  display: flex;
  align-items: center;
}


#logoWrapper {
  width: 4%;
}

img {
  width: 100%;
  height: 100%;
}

#foreground {
  background-color: #fbe1dd;
  width: 85%;
  height: 80%;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg{
  height: 75%;
  width: 50%;
}

.mainTextWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 400;
  width: 60%;
  text-align: center;
}