#root {
  font-family: Inter, sans-serif;
}

html,body, * {
  margin: 0;
  padding 0;
  box-sizing: border-box;

}

#background {
  height: 100vh;
  background-color: #fafbfc;
}


.homeNav {
  background-color: #fafbfc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4.5rem;
  width: 100%;
}

.title {
  color: #040303;
  font-weight: 700;
}


.title-2 {
  color:#5b45ff;
  font-weight: 700;
}

#titleWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

}

#buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}


#foreground {
  background-color: #fff;
  height: calc(100% - 4.5rem);
  display: flex;
  align-items: center;
}

.subTextWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainTextWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.slogan-wrapper {
  background-color: white;
  width: 70%;
  padding: 3rem 2rem;
  margin-right: 3rem;

}

.main-title {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.986rem;
  color: #222222;
  
}

.sub-title {
  font-weight: 400;
  margin-bottom: 2rem;
  color:RGB(34, 34, 34);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.svgcomp {
  width: 90%;
}


@media only screen and (max-width: 699px) {
  #foreground {
    flex-direction: column;
  }

  .mainTextWrapper {
    justify-content: center;
    width: 70%;
  }

  .subTextWrapper {
    width: 100%;
  }

  .slogan-wrapper {
    width: 80%;
    margin: 1rem 0rem;
    text-align: center;
  }

  #titleWrapper {
    margin: 0;
  }
  
  .svgcomp {
    height: 100%;
  }
}




@media only screen and (min-width: 700px) {
  .slogan-wrapper {
    width: 80%;
  }
  #titleWrapper {
    margin: 0;
  }

}

@media only screen and (min-width: 992px) {
  .slogan-wrapper {
    width: 70%;
  }

  #titleWrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 993px) {
  html,body {
    font-size: 100%;
  }
}


@media only screen and (min-width: 1400px) {
  html, body {
    font-size: 110%;
  }

}    