#root {
  font-family: Inter, sans-serif;
  width: 100%;

}

html,body, * {
  margin: 0;
  padding 0;
  box-sizing: border-box;

}


.background {
  height: 100vh;
  background-color: #ffc6bf;
  display: flex;
  justify-content: center;
  align-items: center
}

.title {
  color: #5c5751 ;
  padding: 2rem;
}

#foreground {
  background-color: #fff8ee;
  width: 80%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
}