

.list-container {
    min-width: 18rem;
    height: 10rem;
    background-color: white;
    margin: 1rem;
}

.note-header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;

}

.note-name {
    font-weight: 600;
}